body {
	font-family: "Helvetica", Helvetica, sans-serif;
	margin: 0 20px;
}

header {
    margin: 0 0 20px 0;
    padding: 20px 0 0 0;
}

header h1 {
	margin: 0;
}

p.author {
	font-size: 80%;
	margin: 0;
}

nav {
	margin: 15px 0;
}

h2 {
	border-bottom: 1px solid #000;
}

.toplink {
    position: relative;
    bottom: 3.3em;
    float: right;
    margin: 0;
    padding: 0;
    font-size: 80%;
}

#download ul {
	list-style-type: none;
    padding: 0;
}

#download ul, #content ul {
    margin: 10px 0;
}

.warning {
	font-weight: bold;
	font-style: italic;
}

p.note::before {
	content: "Note. ";
	font-weight: bold;
}

figure {
    display: block;
	margin: 10px 0;
}

figcaption {
    display: block;
	font-style: italic;
}

code {
    font-family: "Courier", monospace;
    font-size: 90%;
}

p.question {
    font-weight: bold;
}

p.question::before {
    content: "Q. ";
}

p.answer::before {
    content: "A. ";
    font-weight: bold;
}

table {
    margin: 10px;
    border-collapse: collapse;
}

thead, tbody {
    border-bottom: 1px solid black;
}

th, td {
    text-align: left;
    padding: 5px 10px;
}

footer {
	border-top: 1px solid #000;
	font-size: 80%;
	margin-top: 40px;
}

#footer_left {
	float: left;
}

#footer_right {
	float: right;
}

#footer_middle {
    text-align: center;
}

