<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Updates</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.hoyois.safari.clicktoplugin</string>
			<key>Developer Identifier</key>
			<string>GY5KR7239Q</string>
			<key>CFBundleVersion</key>
			<string>74</string>
			<key>CFBundleShortVersionString</key>
			<string>2.9.8</string>
			<key>URL</key>
			<string>https://github.com/hoyois/clicktoplugin/releases/download/v2.9.8/ClickToPlugin.safariextz</string>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.hoyois.safari.clicktoflash</string>
			<key>Developer Identifier</key>
			<string>GY5KR7239Q</string>
			<key>CFBundleVersion</key>
			<string>74</string>
			<key>CFBundleShortVersionString</key>
			<string>2.9.8</string>
			<key>URL</key>
			<string>https://github.com/hoyois/clicktoplugin/releases/download/v2.9.8/ClickToFlash.safariextz</string>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.hoyois.safari.stopreloadbutton</string>
			<key>Developer Identifier</key>
			<string>GY5KR7239Q</string>
			<key>CFBundleVersion</key>
			<string>6</string>
			<key>CFBundleShortVersionString</key>
			<string>1.6</string>
			<key>URL</key>
			<string>http://hoyois.github.io/safariextensions/builds/StopReloadButton-1.6.safariextz</string>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.hoyois.safari.mediacenter</string>
			<key>Developer Identifier</key>
			<string>GY5KR7239Q</string>
			<key>CFBundleVersion</key>
			<string>14</string>
			<key>CFBundleShortVersionString</key>
			<string>2.2</string>
			<key>URL</key>
			<string>http://hoyois.github.io/safariextensions/builds/MediaCenter-2.2.safariextz</string>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.hoyois.safari.universalextension</string>
			<key>Developer Identifier</key>
			<string>GY5KR7239Q</string>
			<key>CFBundleVersion</key>
			<string>3</string>
			<key>CFBundleShortVersionString</key>
			<string>1.2</string>
			<key>URL</key>
			<string>http://hoyois.github.io/safariextensions/builds/UniversalExtension-1.2.safariextz</string>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.hoyois.safari.disableyt</string>
			<key>Developer Identifier</key>
			<string>GY5KR7239Q</string>
			<key>CFBundleVersion</key>
			<string>6</string>
			<key>CFBundleShortVersionString</key>
			<string>v1</string>
			<key>URL</key>
			<string>http://hoyois.github.io/safariextensions/builds/YouTubeFlashProxy-v1.safariextz</string>
		</dict>
	</array>
</dict>
</plist>
