<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Updates</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.hoyois.safari.clicktoflash</string>
			<key>Developer Identifier</key>
			<string>GY5KR7239Q</string>
			<key>CFBundleVersion</key>
			<string>1.7.1</string>
			<key>CFBundleShortVersionString</key>
			<string>1.7.1</string>
			<key>URL</key>
			<string>http://github.com/downloads/hoyois/safariextensions/ClickToFlash-1.7.1.safariextz</string>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.hoyois.safari.clicktoflash.fr</string>
			<key>Developer Identifier</key>
			<string>GY5KR7239Q</string>
			<key>CFBundleVersion</key>
			<string>1.7.1</string>
			<key>CFBundleShortVersionString</key>
			<string>1.7.1</string>
			<key>URL</key>
			<string>http://github.com/downloads/hoyois/safariextensions/ClickToFlash.fr-1.7.1.safariextz</string>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.hoyois.safari.clicktoflash.ru</string>
			<key>Developer Identifier</key>
			<string>GY5KR7239Q</string>
			<key>CFBundleVersion</key>
			<string>1.7.1</string>
			<key>CFBundleShortVersionString</key>
			<string>1.7.1</string>
			<key>URL</key>
			<string>http://github.com/downloads/hoyois/safariextensions/ClickToFlash.ru-1.7.1.safariextz</string>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.hoyois.safari.clicktoplugin</string>
			<key>Developer Identifier</key>
			<string>GY5KR7239Q</string>
			<key>CFBundleVersion</key>
			<string>1.4.0.1</string>
			<key>CFBundleShortVersionString</key>
			<string>1.4</string>
			<key>URL</key>
			<string>http://github.com/downloads/hoyois/safariextensions/ClickToPlugin-1.4.0.1.safariextz</string>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.hoyois.safari.clicktoplugin.fr</string>
			<key>Developer Identifier</key>
			<string>GY5KR7239Q</string>
			<key>CFBundleVersion</key>
			<string>1.4.0.1</string>
			<key>CFBundleShortVersionString</key>
			<string>1.4</string>
			<key>URL</key>
			<string>http://github.com/downloads/hoyois/safariextensions/ClickToPlugin.fr-1.4.0.1.safariextz</string>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.hoyois.safari.clicktoplugin.ru</string>
			<key>Developer Identifier</key>
			<string>GY5KR7239Q</string>
			<key>CFBundleVersion</key>
			<string>1.4.0.1</string>
			<key>CFBundleShortVersionString</key>
			<string>1.4</string>
			<key>URL</key>
			<string>http://github.com/downloads/hoyois/safariextensions/ClickToPlugin.ru-1.4.0.1.safariextz</string>
		</dict>
	</array>
</dict>
</plist>
