<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Updates</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.hoyois.safari.clicktoplugin</string>
			<key>Developer Identifier</key>
			<string>GY5KR7239Q</string>
			<key>CFBundleVersion</key>
			<string>46</string>
			<key>CFBundleShortVersionString</key>
			<string>2.7.1</string>
			<key>URL</key>
			<string>http://github.com/downloads/hoyois/safariextensions/ClickToPlugin-2.7.1.safariextz</string>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.hoyois.safari.clicktoflash</string>
			<key>Developer Identifier</key>
			<string>GY5KR7239Q</string>
			<key>CFBundleVersion</key>
			<string>46</string>
			<key>CFBundleShortVersionString</key>
			<string>2.7.1</string>
			<key>URL</key>
			<string>http://github.com/downloads/hoyois/safariextensions/ClickToFlash-2.7.1.safariextz</string>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.hoyois.safari.clicktoplugin-505</string>
			<key>Developer Identifier</key>
			<string>GY5KR7239Q</string>
			<key>CFBundleVersion</key>
			<string>3</string>
			<key>CFBundleShortVersionString</key>
			<string>2.2.9</string>
			<key>URL</key>
			<string>http://github.com/downloads/hoyois/safariextensions/ClickToPlugin-2.2.9.safariextz</string>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.hoyois.safari.stopreloadbutton</string>
			<key>Developer Identifier</key>
			<string>GY5KR7239Q</string>
			<key>CFBundleVersion</key>
			<string>6</string>
			<key>CFBundleShortVersionString</key>
			<string>1.6</string>
			<key>URL</key>
			<string>http://github.com/downloads/hoyois/safariextensions/StopReloadButton-1.6.safariextz</string>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.hoyois.safari.mediacenter</string>
			<key>Developer Identifier</key>
			<string>GY5KR7239Q</string>
			<key>CFBundleVersion</key>
			<string>11</string>
			<key>CFBundleShortVersionString</key>
			<string>1.9</string>
			<key>URL</key>
			<string>http://github.com/downloads/hoyois/safariextensions/MediaCenter-1.9.safariextz</string>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.hoyois.safari.universalextension</string>
			<key>Developer Identifier</key>
			<string>GY5KR7239Q</string>
			<key>CFBundleVersion</key>
			<string>3</string>
			<key>CFBundleShortVersionString</key>
			<string>1.2</string>
			<key>URL</key>
			<string>http://github.com/downloads/hoyois/safariextensions/UniversalExtension-1.2.safariextz</string>
		</dict>
	</array>
</dict>
</plist>
